.product-container {
  height: calc(100vh - 80px);
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::file-selector-button {
  background-color: rgb(16 185 129);
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 6px;
}

#loading {
  width: 3rem;
  height: 3rem;
  background-color: aqua;
  // margin: auto;
  border: 8px solid hsl(0, 0%, 89%);
  border-top: 8px solid hsl(0, 0%, 14%);
  border-radius: 100%;
  visibility: hidden;
  animation: spin 1s linear infinite;
  display: none;

  &.display {
    visibility: visible;
    display: block;
    margin: 20% auto;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
